nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container-fluid
        .navbar-header.page-scroll
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href='/') 
                img(src='/images/efb2be3c81324c18b3cf609143bbc371.png', alt='', width='', height='50px')
            
        
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.hidden
                    a(href='/')
                li
                    a(href='/agenda') Agendar Hora
            ul.nav.navbar-nav.navbar-right
              if user !== null
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        b Hola #{user.fullname} !
                        span.caret
                    ul#login-dp.dropdown-menu
                        li 
                          a.btn.btn-primary(href='/auth/logout') Cerrar sesión
              else
                li
                    p.navbar-text ¿ Ya posees una cuenta ?
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        b Login
                        span.caret
                    ul#login-dp.dropdown-menu
                        li
                            .row
                                .col-md-12
                                    form#login-nav.form(role='form', method='post', action='/auth/login', accept-charset='UTF-8')
                                        .form-group
                                            label.sr-only(for='username') Usuario
                                            input#username.form-control(name='username',type='text', placeholder='Username', required)
                                        .form-group
                                            label.sr-only(for='password') Contraseña
                                            input#password.form-control(name='password',type='password', placeholder='Password', required='')
                                            .help-block.text-right
                                                a(href='') Olvidaste el password ?
                                        .form-group
                                            button.btn.btn-primary.btn-block(type='submit') Entrar
                                .bottom.text-center
                                    | ¿ Nuevo aquí ?
                                    a(href='/auth/signup')
                                        b Registrarse
