doctype html
html(lang='es')
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    block css
  body
    block header
    block content
  script(src='/jquery/dist/jquery.min.js')
  script(src='/moment/min/moment.min.js')
  script(src='/bootstrap/dist/js/bootstrap.min.js')
  block js
