body{
    
	background-color: #fff;
    background-image: url("/images/brujula_blur.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.vertical-offset-100{
    padding-top:50px;
}